.mainContainer {
    background-color: lightblue;
    height: 80vh;
    padding: 3em;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
}

h1 {
    font-size: 3em;
    font-weight: normal;
    color: #3e466c;
}