.mainContainer {
    background-color: lightblue;
    min-height: 80vh;
    padding-top: 5em;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
}

h1 {
    font-size: 3em;
    font-weight: normal;
    color: #3e466c;
}

.characterDescriptionContainer {
    min-height: 10em;
    background-color: white;
    padding: 2em;
    display: grid;
    grid-template-areas: 
    'characterDescription characterDescription'
    'characterDescription characterDescription'
    'characterDescription characterDescription';
    border-radius: 5px;
}

.characterDescription {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#darkLord {
    height: 100%;
    border-radius: 50%;
}

.description {
    padding-left: 1em;
}

.characterImageContainer {
    border-radius: 100%;
    background-color: #3aa859;
    max-width: 8em;
    max-height: 8em;
}

.gameDescriptionContainer {
    margin-top: 25em;
    width: 100%;
    background-color: #3aa859;
}

.gameDescriptionRow {
}

.gameDescriptionCell {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
}

.gameDescriptionCell > h2 {
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
}