.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 5em;
    background-color: white;
    z-index: 100;
    position: relative;
}

.logoStyles {
    height: 100%;
    margin: 5px;
}

.logoContainer {
    cursor: pointer;
    height: 60px;
}

.buttonsContainer {
    display: flex;
    height: 5em;
    justify-content: center;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}

.navButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 1em;
    background-color: white;
    border: none;
    color: #3aa859;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    transition: 0.2s linear;
}


.navButton:hover {
    background-color: #3aa859;
    color: white;
}

a {
    text-decoration: none;
    height: 100%;
    font-size: 2em;
}

.walletStatus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    padding: 0 1em;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    transition: 0.2s linear;
    background-color: #3e466c;
    align-items: center;
}

.walletStatus > p {
    margin: 0;
}

.walletStatus > span {
    margin-right: 10px;
}

#walletDisconnected {
    color: #c43636;
}

#walletConnected {
    color: #3aa859;
}