.tinyCardContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.singleCardContainer {
    background-color: white;
    width: 80%;
    padding: 1.5em;
    min-height: 400px;
    border-radius: 5px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

footer {
    display: flex;
    justify-content: center;

}

.title > * {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: row;
}

.rightSide {
    width: 100%;
    padding: 1em;
}

.question > div {
    font-size: 22px;
}

body { 
    overflow-y: visible;
}

.answerBank {
    padding: 2em;
}